@font-face {
  font-family: "ConfermallFont";
  src: url('ConfermallFont.eot?t=1706885934780'); /* IE9*/
  src: url('ConfermallFont.eot?t=1706885934780#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("ConfermallFont.woff2?t=1706885934780") format("woff2"),
  url("ConfermallFont.woff?t=1706885934780") format("woff"),
  url('ConfermallFont.ttf?t=1706885934780') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('ConfermallFont.svg?t=1706885934780#ConfermallFont') format('svg'); /* iOS 4.1- */
}

[class^="fi-"], [class*=" fi-"] {
  font-family: 'ConfermallFont' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fi-student-hat-sm:before { content: "\ea01"; }
.fi-user:before { content: "\ea02"; }

