<div class="section-cover">
  <div class="container">
    <div class="section-cover-banner">
      <div class="section-cover-content">
        <div class="section-cover-content-image">
          <img src="../assets/images/section-cover-bg.png" />
        </div>
        <div class="section-cover-content-info">
          <div class="section-cover-content-text">
            <div>
              Консультация с экспертом онлайн:
            </div>
            <div>
              с репетитором
            </div>
          </div>
          <div class="section-cover-content-actions">
            <div>
              Записаться на консультацию
            </div>
            <div>
              Я хочу проводить консультации
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>