<div class="section-cover">
  <div class="container">
    <div class="section-cover-banner">
      <div class="section-cover-content">
        <div class="bg-icon bg-icon--user">
          <i class="fi fi-user"></i>
        </div>
        <div class="bg-icon bg-icon--hat">
          <i class="fi fi-student-hat-sm"></i>
        </div>

        <div class="section-cover-content-image">
          <img src="../assets/images/section-cover-bg.png" />
        </div>
        <div class="section-cover-content-info">
          <div class="section-cover-content-text">
            <h1>
              <span>
                Консультация
                <br />
                с экспертом онлайн:
              </span>
              <b>
                с репетитором</b>
            </h1>
          </div>
          <div class="section-cover-content-actions">
            <div>
              Записаться на консультацию
            </div>
            <div>
              Я хочу проводить консультации
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>