.section-cover {
  overflow-x: hidden;
  width: 100%;
  padding: 40px 0;
  background-color: $white;
  @media (min-width: 1440px) {
    height: 100%;
    padding: 48px 0;
    background-color: transparent;
  }
  &-banner {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
      background-color: $white;

      @media (min-width: 1440px) {
        right: -192px;
        left: -192px;
        border-radius: 600px;
      }
    }
  }
  &-content {
    position: relative;
    @media (min-width: 992px) {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
    @media (min-width: 1280px) {
      padding: 88px 0 224px;
    }
  }
  &-content-image {
    margin-bottom: 40px;
    @media (min-width: 992px) {
      width: 50%;
      margin-bottom: 0;
    }
  }
  &-content-info {
    @media (min-width: 992px) {
      // display: flex;
      // flex-direction: row-reverse;
    }
  }
  &-content-text {
    color: $black;
    h1 {
      font-weight: 400;
      b {
        font-weight: 900;
        display: block;
        color: $brand;
      }
    }
  }

  .bg-icon {
    font-size: 82px;
    position: absolute;
    display: none;
    align-items: center;
    width: 184px;
    height: 184px;
    border: 1px solid;
    border-radius: 184px;

    justify-content: center;
    backdrop-filter: blur(10px);

    @media (min-width: 992px) {
      display: flex;
    }

    &--user {
      top: 0;
      left: 0;
      color: $brand;
      border-color: $brand;
    }
    &--hat {
      color: #ff6400;
      border-color: #ff6400;
    }
  }
}
